<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Lista de Produtos</title>
    <style>
        .product-icon {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
</head>

<body>

    <div layout:fragment="content">
        <div class="container">
            <h4>Produtos</h4>
            <a href="/produtos/novo" class="btn waves-effect waves-light green">Adicionar Novo Produto</a>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Imagem</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="produto : ${produtos}">
                        <td>
                            <img th:src="${produto.imagemPath}" alt="Imagem do Produto" class="product-icon"
                                onerror="this.src='/images/default-product.png'" />
                        </td>
                        <td th:text="${produto.nome}"></td>
                        <td th:text="${produto.categoria.nome}"></td>
                        <td>
                            <a th:href="@{'/produtos/editar/' + ${produto.id}}" class="btn blue">Editar</a>
                            <a th:href="@{'/produtos/excluir/' + ${produto.id}}" class="btn red"
                                onclick="return confirm('Deseja realmente excluir?')">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>