<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Pagina de teste</title>
</head>

<body>
    <div layout:fragment="content">
        <div sec:authorize="isAuthenticated()">
            <p sec:authorize="isAuthenticated()">Usuário autenticado!</p>
            <p sec:authorize="isAnonymous()">Usuário não autenticado!</p>
        </div>
    </div>
</body>

</html>